<html>
<head>
    {% if title %}
    <title>{{ title }} - microblog</title>
    {% else %}
    <title>microblog</title>
    {% endif %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!--link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet"-->
    <script src="../static/js/jquery-2.1.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>
        function update(nameOfList, indexOfLine){
            $.post('/update', {nameOfList : nameOfList,
                indexOfLine: indexOfLine,
                itemString: $('#itemString'+nameOfList+indexOfLine).val(),
                itemBrand: $('#itemBrand'+nameOfList+indexOfLine).val(),
                itemPricePerUnit: $('#itemPricePerUnit'+nameOfList+indexOfLine).val(),
                itemPrice: $('#itemPrice'+nameOfList+indexOfLine).val()
            }).done(function(response) {
            }).fail(function(response){
            });
        }
    </script>
    <script>
        function insert(nameOfList, indexOfLine){
            $.post('/insert', {nameOfList : nameOfList,
                itemString: $('#itemString'+nameOfList+indexOfLine).val(),
                itemBrand: $('#itemBrand'+nameOfList+indexOfLine).val(),
                itemPricePerUnit: $('#itemPricePerUnit'+nameOfList+indexOfLine).val(),
                itemPrice: $('#itemPrice'+nameOfList+indexOfLine).val()
            }).done(function(response) {
                window.location.reload();
            }).fail(function(response){
            });
        }
    </script>
    <script>
    function login(user, pw){
        $.post('/trylogin', {username : $('#'+user).val(),
            pw: $('#'+pw).val()
        }).done(function(response) {
            if (response['message'] === 'ok')
                window.location.href = "/home";
        }).fail(function(response){
        });
    }
</script>
</head>
<body>
<div>Microblog: <a href="/index">Home</a></div>
<hr>
{% block content %}{% endblock %}
</body>
</html>