{% extends "base.html" %}
{% block content %}
    {% for form in forms %}
        <form id="offerline{{form.id.data}}" method="POST"
              action="javascript:update( '{{ form.listId.data }}', '{{ form.id.data }}' )"
              name="test">
            <div>
                {{ form.itemString.label }}:
                {{ form.itemString(id="itemString"+form.listId.data+form.id.data) }}
                {{ form.itemBrand.label }}:
                {{ form.itemBrand(id="itemBrand"+form.listId.data+form.id.data) }}
                {{ form.itemPricePerUnit.label }}:
                {{ form.itemPricePerUnit(id="itemPricePerUnit"+form.listId.data+form.id.data) }}
                {{ form.itemPrice.label }}:
                {{ form.itemPrice(id="itemPrice"+form.listId.data+form.id.data) }}
                {{ form.id }}
                {{ form.listId }}
                {{ form.submit }}
            </div>
        </form>
    {% endfor %}
{% endblock %}