{% extends "base.html" %}
{% block content %}
    <form id="offerlineAdd" method="post"
          action="javascript:insert( '{{ insertform.listId.data }}', '{{ insertform.id.data }}' )">
        <div>
            {{ insertform.itemString.label }}:
            {{ insertform.itemString(id="itemString"+insertform.listId.data+insertform.id.data) }}
            {{ insertform.itemBrand.label }}:
            {{ insertform.itemBrand(id="itemBrand"+insertform.listId.data+insertform.id.data) }}
            {{ insertform.itemPricePerUnit.label }}:
            {{ insertform.itemPricePerUnit(id="itemPricePerUnit"+insertform.listId.data+insertform.id.data) }}
            {{ insertform.itemPrice.label }}:
            {{ insertform.itemPrice(id="itemPrice"+insertform.listId.data+insertform.id.data) }}
            {{ insertform.id }}
            {{ insertform.listId }}
            {{ insertform.submit }}
        </div>
    </form>
    {% for form in updateforms %}
        <form id="offerline{{form.id.data}}" method="POST"
              action="javascript:update( '{{ form.listId.data }}', '{{ form.id.data }}' )"
              name="test">
            <div>
                {{ form.itemString.label }}:
                {{ form.itemString(id="itemString"+form.listId.data+form.id.data) }}
                {{ form.itemBrand.label }}:
                {{ form.itemBrand(id="itemBrand"+form.listId.data+form.id.data) }}
                {{ form.itemPricePerUnit.label }}:
                {{ form.itemPricePerUnit(id="itemPricePerUnit"+form.listId.data+form.id.data) }}
                {{ form.itemPrice.label }}:
                {{ form.itemPrice(id="itemPrice"+form.listId.data+form.id.data) }}
                {{ form.id }}
                {{ form.listId }}
                {{ form.submit }}
            </div>
        </form>
    {% endfor %}
{% endblock %}